* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    outline: none;
}

:root {
    --color-bg: #100f0f;
    --color-bg-variant: #072327;
    --color-bg-pink-variant: #5f2998;
    --color-primary: #26A69A;
    --color-primary-variant: rgb(38, 166, 154, .4);
    --color-white: #fff;
    --color-light: #7d9aac;
    --color-dark: #292424;
    --color-dark-light: #332D2D;
    --color-danger: #DC4C64;
    --color-success: #14A44D;
    --color-teal: #26A69A;
    --color-teal-dark: #004D40;
    --color-violet: #4A148C;
    --color-pink: #C2185B;
    --color-pink-variant: rgba(194, 24, 92, 0.404);

    --transition: all 400ms ease;
}