.login__container {
    display: flex;
}

.form__login {
    height: 360px;
    width: 340px;
    border: 1px solid #d0d3d4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.title__login {
    color: hsl(190, 95%, 30%);
    margin: 0 auto;
}

.container__content__inputs {
    display: flex;
    flex-direction: column;
    margin: 18px 0 0 0;
}

.container__data__login {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

.container__data__login input {
    background: transparent;
    padding: 8px 12px;
    margin: 2px 4px;
    border: none;
    border: 1px solid #d0d3d4;
    border-radius: 6px;
    color: #fff;
}

.container__data__login input::placeholder {
    color: #d0d3d4;
    margin-left: 12px;
}

.container__data__login input:focus-visible {
    outline: 1px solid #fff;
}

.container__data__login label {
    position: relative;
    left: 8px;
}

.label__login {
    color: #d0d3d4;
    font-weight: bold;
}

.btn__login {
    background: hsl(190, 95%, 30%);
    width: 140px;
    padding: 12px 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    transition: 300ms all ease;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}

.btn__login:hover {
    cursor: pointer;
    background: hsl(190, 70%, 70%);
}

.container__tools {
    display: flex;
    margin: 18px 0 0 0;
}

.container__tools h5 {
    color: #d0d3d491;
    font-size: 14px;
}

.btn__redirect__register {
    position: relative;
    left: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #d0d3d4;
    margin: 0 auto;
    transition: 300ms all ease;
}

.btn__redirect__register:hover {
    color: #fff;
    transform: scale(1.1);
}